<!doctype html>
<html>
    <head>
        <link rel='stylesheet' href="../static/style/estilo.css"/>

    </head>
    <body>
            
        <form action = "http://localhost:5000/" method="post">
            Digite valor x:<input type="number" name="valor_x"/>
            Digite valor y:<input type="number" name="valor_y"/>
            Digite valor z:<input type="number" name="valor_z"/>
            <button type="submit">Enviar</button>
        </form>
        
    </body>
</html>